

input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

input.success {
    border: 1px solid #1eff00;
    font-weight: 300;
    color: #00ff08;
}

label.error {
  color: red
}

label.success {
  color: #00ff26;
}
/*** perfil**/
#direccion-error{
  font-size:12px;
  color: red
}
#telefono-error{
  font-size:12px;
  color: red
}
#correo-error{
  font-size:12px;
  color: red
}
#fecha_nac-error{
  font-size:12px;
  color: red
}

/*** Registrar usuario**/
#docum-error{
  font-size:12px;
  color: red
}
#num-error{
  font-size:12px;
  color: red
}
#ruc-error{
  font-size:12px;
  color: red
}
#nombre-error{
  font-size:12px;
  color: red
}
#apellido-error{
  font-size:12px;
  color: red
}
#login-error{
  font-size:12px;
  color: red
}
#clave-error{
  font-size:12px;
  color: red
}

#pass-error{
  font-size:12px;
  color: red
}

/*** Editar usuario**/
#docum_mod-error{
  font-size:12px;
  color: red
}
#num_mod-error{
  font-size:12px;
  color: red
}
#ruc_mod-error{
  font-size:12px;
  color: red
}
#nombre_mod-error{
  font-size:12px;
  color: red
}
#apellido_mod-error{
  font-size:12px;
  color: red
}
#login_mod-error{
  font-size:12px;
  color: red
}

#direccion_mod-error{
  font-size:12px;
  color: red
}
#telefono_mod-error{
  font-size:12px;
  color: red
}
#fecha_nac-error{
  font-size:12px;
  color: red
}
#fecha_nac_mod-error{
  font-size:12px;
  color: red
}
#fecha_mensaje-error{
  font-size:12px;
  color: red
}

/*** avatar**/
#avatar_mod-error{
  font-size:12px;
  color: red
}

#oldpass-error{
  font-size:12px;
  color: red
}

#newpass-error{
  font-size:12px;
  color: red
}


/***cuentas****/
#cliente-error{
  font-size:12px;
  color: red
}
#consumo-error{
  font-size:12px;
  color: red
}
#fecha-error{
  font-size:12px;
  color: red
}
#plazo-error{
  font-size:12px;
  color: red
}
#deuda-error{
  font-size:12px;
  color: red
}
#monto-error{
  font-size:12px;
  color: red
}
#id_medios-error{
  font-size:12px;
  color: red
}

#fecha_mod-error{
  font-size:12px;
  color: red
}
#plazo_mod-error{
  font-size:12px;
  color: red
}
#monto_nuevo-error{
  font-size:12px;
  color: red
}
#medios-error{
  font-size:12px;
  color: red
}


#fecha_diaria-error{
  font-size:12px;
  color: red
}
#mes-error{
  font-size:12px;
  color: red
}
#fyear-error{
  font-size:12px;
  color: red
}
#fecha_y-error{
  font-size:12px;
  color: red
}


/*** Productos***/
#codigo-error{
  font-size:12px;
  color: red
}
#descripcion-error{
  font-size:12px;
  color: red
}
#presentacion-error{
  font-size:12px;
  color: red
}
#precio_compra-error{
  font-size:12px;
  color: red
}
#precio_venta-error{
  font-size:12px;
  color: red
}
#stock-error{
  font-size:12px;
  color: red
}
#stock_minimo-error{
  font-size:12px;
  color: red
}
#categoria-error{
  font-size:12px;
  color: red
}
#marca-error{
  font-size:12px;
  color: red
}


#descripcion_mod-error{
  font-size:12px;
  color: red
}
#presentacion_mod-error{
  font-size:12px;
  color: red
}
#precio_compra_mod-error{
  font-size:12px;
  color: red
}
#precio_venta_mod-error{
  font-size:12px;
  color: red
}
#stock_mod-error{
  font-size:12px;
  color: red
}
#stock_minimo_mod-error{
  font-size:12px;
  color: red
}
#categoria_mod-error{
  font-size:12px;
  color: red
}
#marca_mod-error{
  font-size:12px;
  color: red
}

/***compras ***/
#producto-error{
  font-size:12px;
  color: red
}
#cantidad-error{
  font-size:12px;
  color: red
}
#tp_pago-error{
  font-size:12px;
  color: red
}
#tp_compra-error{
  font-size:12px;
  color: red
}
#codprovee-error{
  font-size:12px;
  color: red
}


/***citas ***/
#clientes-error{
  font-size:12px;
  color: red
}
#color-error{
  font-size:12px;
  color: red
}
#inicio-error{
  font-size:12px;
  color: red
}
#final-error{
  font-size:12px;
  color: red
}
#saldo-error{
  font-size:12px;
  color: red
}
#motivo-error{
  font-size:12px;
  color: red
}

#color_mod-error{
  font-size:12px;
  color: red
}
#inicio_mod-error{
  font-size:12px;
  color: red
}
#final_mod-error{
  font-size:12px;
  color: red
}
#saldo_mod-error{
  font-size:12px;
  color: red
}
#motivo_mod-error{
  font-size:12px;
  color: red
}